# Python Variables and Data type

## In this section we will cover:
### i) An introduction to variables
### ii) Data type
### iii) Type Conversion
### iv) Local and Global Variables

## An introduction to variables

#### A variable is a container for a value. It can be assigned a name, you can use it to refer to it later in the program. Or A variable is a name given to a memorry location. Python is not "statically type". In this program, we do not need to declare variables before using them or declare their type. So, what can we do using python variables? 
#### i) The value stored in a variable can be changed during program execution.
#### ii) A variable in only a name given to a memory location, all the operations done on the variable effects that memory location.

### Rules for creating variables in python:
#### i) A variable name must start with a letter or the underscore character.
#### ii) A variable name cannot start with a number.
#### iii) A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
#### iv) Variable names are case-sensitive (name, Name and NAME are three different variables).
#### v) The reserved words(keywords) cannot be used naming the variable.

### A variable name must start with a letter or the underscore character.

In [2]:
# integer variable creation with a big letter
Age = 45

# floating point creation by a small letter
salary = 12456.50

# a string creation by a small letter
name = "John"

# a string creation by an underscore
_name = "Alyee"


# Output:
print(Age)
print(salary)
print(name)
print(_name)

45
12456.5
John
Alyee

### A variable name cannot start with a number.

In [3]:
# integer variable creation by a number
0Age = 45
print(0Age)

SyntaxError: invalid syntax (<ipython-input-3-350b97423a78>, line 2)

### A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ):

In [6]:
# a variable creation by the alpha-numeric characters and underscores
Name_01_year = "Alyee, 2022"
print(Name_01_year)

Alyee, 2022

In [7]:
# a variable creation by the special charecters
Name_@_year = "Alyee, 2022"
print(Name_@_year)

SyntaxError: can't assign to operator (<ipython-input-7-99e0ff02d950>, line 2)

### Variable names are case-sensitive (name, Name and NAME are three different variables):

In [8]:
nam = "saybee"
Nam = "Jan"

print(nam)
print(Nam)

saybee
Jan

### The reserved words(keywords) cannot be used naming the variable:

In [9]:
# class is a python reseve word:
class = "Robin"
print(class)

SyntaxError: invalid syntax (<ipython-input-9-7babc9ea3e83>, line 1)

### Assigning a single value to multiple variables:

In [12]:
# Assign the same value

a = b = c = 10

print(a)
print(b)
print(c)

10
10
10

### Assigning different values to multiple variables:

In [14]:
# Assign the different values
a, b, c = 12, 12.05, "Camy"

print(a)
print(b)
print(c)

12
12.05
Camy

### Can we use the same name for different types?

In [16]:
# If we use the same name, the variable starts referring to a new value and type. 
a = 10
a = "Python"

print(a)

Python

## Data type
### Python has five standard data type
#### i) Numbers
#### ii) String
#### iii) List
#### iv) Tuple
#### v) Dictionary

## Data Stractures
### Adv. Datatypes

### LIST

In [20]:
# Storing Data
std = [1, 2, 3, 4, 5, 6, 7, 8, 9]
type(std)

list

In [21]:

# Accessing  Data
std[2]
std[2:6]
std[2:6:2]
std[::-1]
std[-2:-6:-1]

[8, 7, 6, 5]

In [22]:
# List operation
std.append(10)
std.insert(0, 99)
std.insert(4, 40)
std.index(40) # index nmber provide

std.count(40)

[99, 1, 2, 3, 40, 4, 5, 6, 7, 8, 9, 10]

In [23]:
std.extend([99, 88, 77])

std

[99, 1, 2, 3, 40, 4, 5, 6, 7, 8, 9, 10, 99, 88, 77]

In [25]:
std.pop(0) #remove indexed value
std.remove(40)
std

[2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 88, 77]

In [27]:
std.sort()
std.sort(reverse=True)
std

[99, 88, 77, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [28]:
std.clear()
std

[]