# Python Variables and Data type

## In this section we will cover:
### i) An introduction to variables
### ii) Data type
### iii) Type Conversion
### iv) Local and Global Variables

## An introduction to variables

#### A variable is a container for a value. It can be assigned a name, you can use it to refer to it later in the program. Or A variable is a name given to a memorry location. Python is not "statically type". In this program, we do not need to declare variables before using them or declare their type. So, what can we do using python variables? 
#### i) The value stored in a variable can be changed during program execution.
#### ii) A variable in only a name given to a memory location, all the operations done on the variable effects that memory location.

### Rules for creating variables in python:
#### i) A variable name must start with a letter or the underscore character.
#### ii) A variable name cannot start with a number.
#### iii) A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
#### iv) Variable names are case-sensitive (name, Name and NAME are three different variables).
#### v) The reserved words(keywords) cannot be used naming the variable.

### A variable name must start with a letter or the underscore character.

In [1]:
# integer variable creation with a big letter
Age = 45

# floating point creation by a small letter
salary = 12456.50

# a string creation by a small letter
name = "John"

# a string creation by an underscore
_name = "Alyee"


# Output:
print(Age)
print(salary)
print(name)
print(_name)

45
12456.5
John
Alyee

### A variable name cannot start with a number.

In [2]:
# integer variable creation by a number
0Age = 45
print(0Age)

SyntaxError: invalid syntax (<ipython-input-2-350b97423a78>, line 2)

### A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ):

In [ ]:
# a variable creation by the alpha-numeric characters and underscores
Name_01_year = "Alyee, 2022"
print(Name_01_year)

Alyee, 2022

In [ ]:
# a variable creation by the special charecters
Name_@_year = "Alyee, 2022"
print(Name_@_year)

SyntaxError: can't assign to operator (<ipython-input-7-99e0ff02d950>, line 2)

### Variable names are case-sensitive (name, Name and NAME are three different variables):

In [ ]:
nam = "saybee"
Nam = "Jan"

print(nam)
print(Nam)

saybee
Jan

### The reserved words(keywords) cannot be used naming the variable:

In [ ]:
# class is a python reseve word:
class = "Robin"
print(class)

SyntaxError: invalid syntax (<ipython-input-9-7babc9ea3e83>, line 1)

### Assigning a single value to multiple variables:

In [ ]:
# Assign the same value

a = b = c = 10

print(a)
print(b)
print(c)

10
10
10

### Assigning different values to multiple variables:

In [ ]:
# Assign the different values
a, b, c = 12, 12.05, "Camy"

print(a)
print(b)
print(c)

12
12.05
Camy

### Can we use the same name for different types?

In [ ]:
# If we use the same name, the variable starts referring to a new value and type. 
a = 10
a = "Python"

print(a)

Python

## Data type
### Python has five standard data type
#### i) Numbers
#### ii) String
#### iii) List
#### iv) Tuple
#### v) Dictionary

## Python Numbers:

#### Number data types store numeric values. They are immutable data type which means that changing the value of a number data type results in a newly allocated object.

#### Number objects are created when you assign a value to them. For example:

In [3]:
var1 = 1
var2 = 10

print(10)

10

#### We can delete a single object or multiple objects by using the del statement. The syntax of the del statement is:

In [ ]:
del var # Delete the single varible
del var_a, var_b # Delete the multiple variable

In [7]:
del ver1 # delete the variable var1
print(ver1) # print the delete variable for checking

NameError: name 'ver1' is not defined

### Python supports four different numerical types:

#### i) int (signed integers)
#### ii) long (long integers)
#### iii) float (floating point real values)
#### iv) complex (complex numbers)

### Examples

In [ ]:
# int
10, 12, 500, -1

# long
519643L, 0122L

# float
0.0, 15.20, -21.5

# complex
3.14j, 45j

## Python Strings:

#### String s in Python are identified as a contig uous set of characters in between quotation marks. Python allows for either pairs of sing le or double quotes. Subsets of string s can be taken using the slice operator ( [ ] and [ : ] ) with indexes starting at 0 in the beg inning of the string and working their way from -1 at the end.

#### The plus ( + ) sig n is the string concatenation operator and the asterisk ( * ) is the repetition operator. For example:

In [9]:
str = 'Hello World!'
print(str) # Prints complete string
print(str[0]) # Prints first character of the string
print(str[2:5]) # Prints characters starting from 3rd to 5th
print(str[2:]) # Prints string starting from 3rd character
print(str * 2) # Prints string two times
print(str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

### Python Lists:

#### Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([]). T o some extent, lists are similar to arrays in C. One difference between them is that all the items belong ing to a list can be of different data type.

#### The values stored in a list can be accessed using the slice operator ( [ ] and [ : ] ) with indexes starting at 0 in the beginning of the list and working their way to end -1. T he plus ( + ) sig n is the list concatenation operator, and the asterisk ( * ) is the repetition operator. For example:

In [11]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print(list) # Prints complete list
print(list[0]) # Prints first element of the list
print(list[1:3]) # Prints elements starting from 2nd till 3rd
print(list[2:]) # Prints elements starting from 3rd element
print(tinylist * 2) # Prints list two times
print(list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

### Python Tuples

#### A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

#### The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be chang ed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thoug ht of as read-only lists. For example:

In [12]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')

print(tuple) # Prints complete list
print(tuple[0]) # Prints first element of the list
print(tuple[1:3]) # Prints elements starting from 2nd till 3rd
print(tuple[2:]) # Prints elements starting from 3rd element
print(tinytuple * 2) # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

### Python Dictionary:

#### Python's dictionaries are kind of hash table type. T hey work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object. Dictionaries are enclosed by curly braces ( { } ) and values can be assig ned and accessed using square braces ([]). For example:

In [13]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print(dict['one']) # Prints value for 'one' key
print(dict[2]) # Prints value for 2 key
print(tinydict) # Prints complete dictionary
print(tinydict.keys()) # Prints all the keys
print(tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

### Data Type Conversion:

#### Sometimes, you may need to perform conversions between the built-in types. T o convert between types, you simply use the type name as a function. There are several built-in functions to perform conversion from one data type to another. T hese functions return a new object representing the converted value